<!doctype html>

<html>
<head>
    <title>My HCI Friends</title>   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/hci-friends.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        
    <div>
        <h3>Your Vibe Has Been Submitted!</h3>    
        <a href="/company">View Vibes</a>
        <div>
        </div>
        <a href="/">Home</a>
    </div>

    </div>
    <script src="js/jquery-1.11.0.js"></script> 
    <script src="js/bootstrap.js"></script>
    <script src="js/hci-friends.js"></script>
</body>
</html>