<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>InternVibes</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/"> Home </a>
                <a class="navbar-brand topnav" href="/help">About</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    
                    
                    <li>
                        <a href="/FAQ">FAQ</a>
                    </li>

                    <li>
                        <a href="/suggestion">Suggestions</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div>
        <h2>&nbsp</h2>
    </div>

    <div class="container">
        <h2 align = "center">FAQ</h2>
    </div>
    
    <div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h2></h2></div>
        <div class="panel-body">
        <h4>What is a Vibe?</h4>
        <p>A distinct emotional state that is sensed intuitively.</p>
        <h4><br>What does Find Vibes do?</h4>
        <p>Clicking FindVibes enables you to search through companies and reviews. First you will be prompted to select which company you want to find out more about. After clicking a company name, you will be able to see all of the reviews of that company.</p>
        <h4><br>What does Write Vibes do?</h4>
        <p>By clicking on "Write Vibes" you will be taken to a page in which can write your review by filling in text-blocks. If you have more to say about a particular company that does not fit in to the given categories, write it in the "OtherVibes" block. After you are done writing, choose the company you are reviewing from the drop-down menu.</p>
        <h4><br>If I submit a Vibe, is my submission anonymous?</h4>
        <p>Yes, we ensure complete security by keeping all reviews anonymous. There is no way that your review will be traced back to you.</p>
        <h4><br>Will I be able to see my Vibe?</h4>
        <p>Yes. Our home page displays the most recent vibes; as long as you are one of the most recent vibes, your review will be displayed on our homepage. Furthermore, if you search for your review, you will be able to find it.</p>
        <h4><br>Can I delete my submission?</h4>
        <p>No. InternVibes is designed to be account-free. If we allowed deletion, a single user would have the power to delete every single review in our data-base.      </p>
        <h4><br> Who can see my review?</h4>
        <p> Anyone. A review will be public upon submission.</p>
        <h4><br> What is the purpose of the color coding?</h4>
        <p> Color coding is used to represent the overall vibe of a company. We want users to be able to scroll through a company's reviews and get an overall sense of a company. Green represents the best possible vibe, yellow is an alright vibe, and red represents bad vibes.</p>
    </div>
    </div>






    <!-- Header -->
    
    <!-- /.intro-header -->

    <!-- Page Content -->

	
    
    <!-- /.content-section-a -->

    <!-- /.content-section-b -->

    

	
    <!-- /.banner -->

    <!-- Footer -->
    

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
